@use "../utilities/_utils.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.Home {
  .background {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: max(100vw, 512px);
  }
  h2 {
    color: $background;
    font-size: 7vw;
    font-weight: 900;
    background: url("../../public/1.jpg");
    -webkit-background-clip: text;
    background-size: 100%;
    background-position: center;
    -webkit-text-fill-color: transparent;
  }
}