@use "../utilities/_utils.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.Home {
  .background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
  }
  h2 {
    color: $background;
    font-size: 7vw;
    font-weight: 900;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  .landing {
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden;
  }

  .accent-block {
    background-color: $blue-3;
    padding: 3%;
    top: 100vh;
    h3 {
      font-size: 3rem;
      color: $background;
    }
  }
}
