@use "../../utilities/_utils.scss" as *;

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $background;
}

.navbar {
  background-color: $background;
}

a {
  color: $accent;
  background-color: darken($background, 0.1);
  text-decoration: none;
  transition: background-color color 1s ease;
  padding: 10px 1.5vw 10px 1.5vw;

  font-size: large;

  &:hover {
    color: $background;
    background-color: $accent;
    transition: all 1s ease;
  }
}
