@use "./utilities/utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

$debug: false;

@if $debug {
  * {
    outline: red solid 1px;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.desktop {
  @include respond-to(mobile) {
    display: none !important;
  }
}

.mobile {
  @include respond-to(desktop) {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes popUp {
  0% {
    transform: translateY(1rem);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.App,
#root {
  // position: relative;
  text-align: center;
  width: 100%;
  // overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: $blue-4;
  border: none;
}

.accent {
  color: $background;
  background-color: $blue-3;
}

.block {
  padding: 25vh 5%;
  top: 100vh;
  text-align: center;
  h3 {
    font-size: 3rem;
  }
}
